<%if @snack%>
<div class="row">
  <div class="twelve columns text-center"><br />
    <%= image_tag 'sos.png', style: "height:70px" %>
  </div>
</div>
<div class="row">
  <div class="large-6 small-12 columns">
    <h3>Today's snack</h3>
    <dl>
      <dt>
        Snack
      </dt>
      <dd>
      <ol>
        <% @snack.name.split(',').each do |s| %>
        <li>
          <%= s%>
</li>
        <%end%>
        </ol> 
      </dd>
      <dt>
        Ordering from
        <dt/>
        <dd>
          <%= @snack.provider %>
        </dd>

        <dt>
          Rate
          <dt/>
          <dd>
            <%= @snack.price %>
          </dd>
    </dl>
  </div>
  <div class="large-6 small-12 columns">
    <h3>Place your order</h3>
    <div id="order-form">
      <%= form_for Order.new, url: '/snacks/place_order' do |f| %>
      <div>
        <h5>Your name ? *</h5>
        <%= f.text_field :ordered_by, required: true%>
      </div>
      <div>
        <h5>What do you want ?</h5>
        <% @snack.name.split(',').collect(&:strip).each do |s| %>
          <div>
          <%= f.radio_button :name, s %>
          <%= f.label s, for: "order_name_#{s}" %>
          </div>
        <% end %>
        <span>Or Enter custom snack name not listed above:</span>
        <%= text_field_tag :custom_snack_name, nil,  placeholder: 'Enter custom snack name not listed above'%>
      </div>
      <div>
        <h5>How many ?</h5>
        <div class="toggle"><label><%= f.radio_button :quantity, "1" %><span>1</span></label></div>
        <div class="toggle"><label><%= f.radio_button :quantity, "2" %><span>2</span></label></div>
      </div>
      <div class="clearfix">
        <h5>Special instructions ?</h5><%= f.text_area :special_instructions %>
        <%= f.hidden_field :snack_id, value: @snack.id %>
        <%= f.submit 'Place order', class: 'button' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div id="snack_stats" class="row">
  <div id="inner-div" class="large-6 small-12 columns">
    <h3>Total Order</h3>
    <table style="width:100%">
      <thead>
        <tr>
          <td>Food Name</td>
          <td>Qty</td>
          <td>Instructions</td>
        </tr>
      </thead>
      <% @grouped_orders.each do |k, v| %>
        <tr>
          <% q = 0 %>
          <% v.map{|o| q += o.quantity.to_i} %>
          <td><%= "#{k}" %></td>
            <td><%= "#{q}"%></td>
              <td> <%= v.select{|o| !o.special_instructions.blank?}.map{|vv| "#{vv.special_instructions} in 1"}.join(', ') %> </td>
          </tr>
      <% end %>
    </table>
  </div>
  <div class="large-6 small-12 columns">
    <%if @snack%>
    <h3>Who's ordering what ?</h3>
    <table id="order-summary" style="width:100%">
      <thead>
        <tr>
          <td>Ordered By</td>
          <td>Food Name</td>
          <td>Qty</td>
          <td>Instructions</td>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td><%= order.ordered_by.capitalize %></td>
          <td><%= order.name %></td>
          <td><%= order.quantity %></td>
          <td><%= order.special_instructions %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>
<div id="footer">&copy; 2014 Idyllic Employees</div>

<% else %>
<div id="heading">Snack Ordering System at Idyllic Software</div>
<div class="columns end">
  <h1>No munchies for you today!</h1>
</div>
</div>
<div id="footer">&copy; 2014 Idyllic Employees</div>
<% end %>

<script type='text/javascript'>//<![CDATA[

$(document).ready(function(){
$('.toggle label').click(function(){
console.log('hello there');
    $(this).children('span').addClass('input-checked');
    $(this).parent('.toggle').siblings('.toggle').children('label').children('span').removeClass('input-checked');
});
});//]]>

</script>
