<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Snacks @ Idyllic</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if Time.now.strftime("%w") === '5' %>
      <!-- Show a beer mug background image on Fridays. -->
      <div class="friday-bg"></div>
    <% end %>

    <%= render partial: 'header' %>

    <%= yield %>

    <script type="text/javascript">$(function(){ $(document).foundation(); });</script>
  </body>
</html>
